<style type= "text/css">
		body{background-color: pink;

		}
		h1{color: purple;

		}
		th{
			color:purple;
		}
		p{
			text-decoration:none
		}
		a{
				color:#9400D3;
			}
			#movieOpinion{
				color:blue;
			}
			#bookOpinion{
				color:purple;

			}
			#tvOpinion{
				color:black;
			}
			#div2{
				background-color:#FF69B4;
			}
			#div1{
				background-color:#FFB6C1;
			}
			#div3{
				background-color:#DB7093; 
			}
			#div4{
				background-color:#C71585;
			}	
			#divtitle1{
				background-color: pink;
			}
			form{
				padding: 15px;
				background-color:#FFDAB9;
				border-style:solid;
				font-style:italic;
				font-weight: 900px;

			}
			input[type=button] {
				color:black;
				background-color:#FFB6C1;
				padding:5px; 

			}
			button.demo:hover,
			button.demo.hover {

			}
			#divtitle1{
				background-color: pink;
			}

</style>