<style>
		body{
			background-color:pink;
			}
		h1{
			color: purple;
			width: 100%;

		}
		th{
			color:purple;
		}
		p{
			text-decoration:none
		}
		a{
				color:#9400D3;
			}
			#movieOpinion{
				color:blue;
			}
			#bookOpinion{
				color:purple;

			}
			#tvOpinion{
				color:black;
			}
			#div2{
				background-color:#FF69B4;
			}
			#div1{
				background-color:#FFB6C1;
			}
			#div3{
				background-color:#DB7093; 
			}
			#div4{
				background-color:#C71585;
			}	
			#divtitle1{
				background-color: #FFDAB9;
			}
			form{
				padding: 15px;
				background-color:pink;
				border-style:solid;
				font-style:italic;
				font-weight: 900px;

			}
			input[type=button] {
				color:black;
				background-color:#FFB6C1;
				padding:5px; 

			}
			button.demo:hover,
			button.demo.hover {

			}

			#navigation{
				background-color: pink;
				width: 200px;
				border: 10px solid purple;
				padding: 50px;
				margin: 20px;
			}

</style>